:root{
  --image-size: 70%;
}
@media(max-width: 400px){
  :root{
    --image-size: 100%;
  } 
}
.standout{
  box-shadow: 0px 12px 20px rgba(0,0,0,0.18), 0px 6px 10px rgba(0,0,0,0.36);
}
.stuti-header{
    text-align: center;
    background-image:url(https://upload.wikimedia.org/wikipedia/commons/1/18/Ocean_landscape_from_shore.jpg);
    background-size: 100%;
}
.profpic{
    border-radius: 50%; 
}
.carousel-item {
 height: 500px;
    text-align: center;
}
.items{
  background-color: transparent;
  color: white;
  background-size: var(--image-size,100%);
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Satisfy', cursive;
}
.item1 {
  background-image:url(https://imgstaticcontent.lbb.in/lbbnew/wp-content/uploads/sites/1/2017/01/30114521/300117_StarGazing%40LalitMangar.jpg);
}

.item2 {
  background-image:url(https://www.firstquadcopter.com/wp-content/uploads/2019/12/Flying_car_drone_DIY_project.jpg);
}

.item3 {
  background-image : url(https://i0.wp.com/www.synthtopia.com/wp-content/uploads/2013/03/musical-tesla-coils.jpg);
}
#education{
  color: white;
}
#projects{
  color:white;
}
#interests{
  color: white;
}
.size-font{
  font-size: 20px;
}
.style-font{
  font-family: 'Satisfy', cursive;
}
.contact-format{
  background-color:white;
  height:70px;
}
.logo{
  color:#343a40;
}
.logo:hover{
  color:blue;
}
.heading{
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 35px;
}
